<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Steam Jomon Project</title>
		<link rel="shortcut icon" href="https://steamcommunity.com/favicon.ico" type="image/x-icon">
		<link href="https://steamstore-a.akamaihd.net/public/shared/css/motiva_sans.css?v=FAK4O46_mOLB" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/shared/css/shared_global.css?v=5OoDLCYZma2O" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/shared/css/buttons.css?v=g4vF5QlH7C0a" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/css/v6/store.css?v=UZir9ByIFeA6" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/css/v6/curators_common.css?v=xdMzRLyF8Fl8" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/css/v6/curators_home.css?v=dcy7gEll6Yft" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/shared/css/shared_responsive.css?v=lZjXzgjiAjP-" rel="stylesheet" type="text/css">
		<link href="https://steamstore-a.akamaihd.net/public/css/v6/browse.css?v=VXffWm1t3BeM" rel="stylesheet" type="text/css">
	</head>
	<body class="v6 responsive_page">
		<div style="display: flex; justify-content: space-evenly; margin: 50px">
			<div style="display:inline-block; width: 55%;">
				<h2><!–– Suggested Games List (Primary component)--><!---->
					STEAM CURATOR <b>GAMES</b>
				</h2>
				<div class="curator_page" style="padding: 12px 12px 15px 12px">
				
					<div class="recommendation" style="display:flex;">
						<a href="https://store.steampowered.com/app/268910/Cuphead/" style="margin: 5px">
							<div class="capsule headerv5">
								<img src="https://steamcdn-a.akamaihd.net/steam/apps/268910/header_292x136.jpg?t=1550613648" style="max-width: 225px">
							</div>
						</a>
						<div style="position: relative">
							<div class="recommendation_desc" style="margin: 5px">
								Cuphead is a classic run and gun action game heavily focused on boss battles. Inspired by cartoons of the 1930s, the visuals and audio are painstakingly created with the same techniques of the era, i.e. traditional hand drawn cel animation, watercolor backgrounds, and original jazz recordings.
							</div>
							<div class="discount_block discount_block_inline" style="position: absolute; bottom: 0; margin-bottom: 10px" data-price-final="1999"><div class="discount_prices"><div class="discount_final_price">$19.99</div></div></div>
						</div>
					</div>
					<div class="recommendation" style="display:flex;">
						<a href="https://store.steampowered.com/app/10500/Total_War_EMPIRE__Definitive_Edition/" class="price_inline" style="margin: 5px">
							<div class="capsule headerv5">
								<img src="https://steamcdn-a.akamaihd.net/steam/apps/10500/header_292x136.jpg?t=1545151872" style="max-width: 225px">
							</div>
						</a>
						<div style="position: relative">
							<div class="recommendation_desc" style="margin: 5px">
								Command the seas, control the land, forge a new nation, and conquer the globe.
							</div>
							<div class="discount_block discount_block_inline" style="position: absolute; bottom: 0; margin-bottom: 10px" data-price-final="624"><div class="discount_pct">-75%</div><div class="discount_prices"><div class="discount_original_price">$24.99</div><div class="discount_final_price">$6.24</div></div></div>
						</div>
					</div>
					<div class="recommendation" style="display:flex;">
						<a href="https://store.steampowered.com/app/578650/The_Outer_Worlds/" style="margin: 5px">
							<div class="capsule headerv5">
								<img src="https://steamcdn-a.akamaihd.net/steam/apps/578650/header_292x136.jpg?t=1544797589" style="max-width: 225px">
							</div>
						</a>
						<div style="position: relative">
							<div class="recommendation_desc" style="margin: 5px">
								The Outer Worlds is a new single-player sci-fi RPG from Obsidian Entertainment and Private Division. As you explore a space colony, the character you decide to become will determine how this player-driven story unfolds. In the corporate equation for the colony, you are the unplanned variable.
							</div>
							<div class="discount_block discount_block_inline" style="position: absolute; bottom: 0; margin-bottom: 10px" data-price-final="5999"><div class="discount_prices"><div class="discount_final_price">$59.99</div></div></div>
						</div>
					</div>
					<div class="recommendation" style="display:flex;">
						<a href="https://store.steampowered.com/app/883710/RESIDENT_EVIL_2__BIOHAZARD_RE2/" style="margin: 5px">
							<div class="capsule headerv5">
								<img src="https://steamcdn-a.akamaihd.net/steam/apps/883710/header_292x136.jpg?t=1550643188" style="max-width: 225px">
							</div>
						</a>
						<div style="position: relative">
							<div class="recommendation_desc" style="margin: 5px">
								A deadly virus engulfs the residents of Raccoon City in September of 1998, plunging the city into chaos as flesh eating zombies roam the streets for survivors. An unparalleled adrenaline rush, gripping storyline, and unimaginable horrors await you. Witness the return of Resident Evil 2.
							</div>
							<div class="discount_block discount_block_inline" style="position: absolute; bottom: 0; margin-bottom: 10px" data-price-final="5999"><div class="discount_prices"><div class="discount_final_price">$59.99</div></div></div>
						</div>
					</div>
					
				</div>
				<div id="NewReleases_ctn" class="paged_items_paging" style="">
					<div class="paged_items_paging_controls" id="NewReleases_controls">
						<span id="NewReleases_btn_prev" class="pagebtn disabled">&lt;</span>
						<span id="NewReleases_links"><span class="paged_items_paging_pagelink active">1 </span><span class="paged_items_paging_pagelink">2 </span><span class="paged_items_paging_pagelink">3 </span><span class="paged_items_paging_pagelink">4 </span><span class="paged_items_paging_pagelink">5 </span><span class="paged_items_paging_pagelink">6 </span> ... <span class="paged_items_paging_pagelink">48 </span></span>
						<span id="NewReleases_btn_next" class="pagebtn">&gt;</span>
					</div>
					<div class="paged_items_paging_summary ellipsis">
						Showing <span id="NewReleases_start">1</span>-<span id="NewReleases_end">15</span> of <span id="NewReleases_total">713</span> results</div>
					<div style="clear: both;"></div>
				</div>
			</div>
			<div style="display:inline-block; width: 35%;">
				<h2><!–– Suggested Curator List (Secondary component)--><!---->
						SUGGESTED <b>CURATORS</b>
				</h2>
				<div class="curator_page">
					{%for item in list2%}
					<div class="profile">
						<a href={{item.page}}>
							<img class="avatar" src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/{{item.avatar|slice:":2"}}/{{item.avatar}}_medium.jpg'>
						</a>
						<div class="info">
							<div class="name"><span>{{item.name}}</span></div>
							<div class="actions">
								<div>
									<a id={{ item.id }} xml:id={{ forloop.counter }} class=" follow_button btn_green_white_innerfade btn_medium "><span>Follow</span></a>
									<a class=" following_button btn_green_white_innerfade btn_medium " style="display: none;"><span>Following</span></a>
								</div>
								<div class="followers" style="margin-top: -4px">
									<span>{{item.followers}}</span>
									<p>Followers</p>
								</div>
								<div class="socialmedia"></div>
							</div>
						</div>
						<div class="ignore_button_area">
							<a class=" ignore_button " href="#">
								<span>Ignore this curator</span>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
		$(function() {
			$('a').bind('click', function() {
				console.log("hello ajax");
				console.log(this.id);
				$.ajax({
					url:"{% url 'CuratorList:mymethod' %}",
					type:"GET",
					data: {
						id: this.id
					},
					success: function (data) {
						console.log("success")
						console.log(data)
					},
					error: function(xhr, status, error) {
						console.log("failure")
						var err = eval("(" + xhr.responseText + ")");
						alert(err.Message);
					}
				})
			});
		});
		</script>
	</body>
</html>